
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);
@import url(https://code.jquery.com/jquery-3.4.1.slim.min.js);
@import url(https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css);
@import url(//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css);




body{

  background-color: #eeeeee;
}

.navbar-nav>li>a{

  text-transform: uppercase;
  font-size: 13px;
  margin-right:20px;
  color: #ffffff;
}


.navbar-toggler {
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);

    }

    .nav-link{

      color: rgb(162, 0, 0) !important;/*Nav items color*/
    }


.wrapper{
      width: 100%;
    position: absolute;
    height: 100%;
    background-color: #020634;
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all;
}

.navbar-brand{

  color:#ffffff;
  font-family: 'Allerta Stencil', sans-serif;
  margin-bottom: 4px;
  font-size: 27px;
}

.navbar-brand {
  color: rgb(162, 0, 0) !important; /* VM text color*/
}

.navbar-brand img {
  width: 80px; 
  height: 50px;
}


.navbar-red:hover .wrapper{

  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);

}

.navbar-brand:hover{

  color:#ffffff;
  
}

.navbar-red{

  background-color: #f7f7f7; /*nav bar background color*/
  color: #ffffff;
 /* height: 80px;*/

}

.all-show{

  z-index: 10;
}

/* Spare Parts dropwdown*/
.submenu {
  position: absolute;
  background-color: white;
  width: 240px;
  display: none; 
}

.submenu2 {
  position: absolute;
  left: 100%;
  width: 240px;
  top: 0;
  background-color: white;
  display: none; 
}

.nav-item:hover > .submenu {
  display: block; 
}

.submenu .nav-item:hover > .submenu2 {
  display: block; 
}

.nav-item a:hover {
  background-color: #c4c5c6;
  color: #02101c;
}


.notification {
  position: relative;
  display: inline-block;
}

.notification .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background-color: red;
  color: white;
  padding: 5px 8px;
  font-size: 10px;
}
